<!-- Footer -->
<footer>
	<div class="c-footer">
		<div class="c-container">
			<div class="c-footer-about">
				<div class="about-col-1">
					<div class="about-info">
						<a class="about-logo" href=""> <img alt="carR" src="">
						</a>
						<div class="item-sub">
							<a class="sub-phone" href="">
								<p class="impor">1900 1900</p>
								<p>Tổng đài hỗ trợ: 7AM - 10PM</p>
							</a> <a class="sub-contact" href="">
								<p class="impor">contact@carr.vn</p>
								<p>Gửi mail cho CarR</p>
							</a>
						</div>
						<div class="about-item">
							<div class="payment">
								<img alt="" th:src="@{/img/fb_icon.png}"> <img alt="" th:src="@{/img/tiktok_icon.png}">
								<img alt="" th:src="@{/img/zalo_icon.png}">
							</div>
						</div>
					</div>
				</div>
				<div class="about-col-2">
					<div class="about-item">
						<div class="item-sub">
							<p class="list-impor">Chính Sách</p>
							<div class="item-sub">
								<a href="">Chính sách và quy định</a> <a href="">Quy chế
									hoạt động</a> <a href="">Bảo mật thông tin</a> <a href="">Giải
									quyết tranh chấp</a>
							</div>
						</div>
					</div>
					<div class="about-item">
						<div class="item-sub">
							<p class="list-impor">Tìm Hiểu Thêm</p>
							<div class="item-sub">
								<a href="">Hướng dẫn chung</a> <a href="">Hướng dẫn đặt xe</a> <a href="">Hướng dẫn
									thanh toán</a> <a href="">Hỏi đáp</a>
							</div>
						</div>
					</div>
					<div class="about-item">
						<div class="item-sub">
							<p class="list-impor">CarR</p>
							<div class="item-sub">
								<a href="">Về CarR</a> <a href="">CarR Blog</a> <a href="">Tuyển dụng</a>
							</div>
						</div>
					</div>
					<div class="about-item">
						<div class="item-sub">
							<p class="list-impor">Đối Tác</p>
							<div class="item-sub">
								<a href="">Đăng ký chủ xe Mioto</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="line-black"></div>
		<div class="c-container">
			<div class="c-footer-about">
				<div class="about-col-1">
					<div class="about-info">
						<p>@ Công Ty Cổ Phần StudyHard</p>
					</div>
				</div>
				<div class="about-col-2">
					<div class="about-item">
						<div class="item-sub">
							<p>Số GCNĐKKD: 123456789</p>
						</div>
					</div>
					<div class="about-item">
						<div class="item-sub">
							<p>Ngày cấp: 01-01-24</p>
						</div>
					</div>
					<div class="about-item w50">
						<div class="item-sub">
							<p>Nơi cấp: Sở ABC và XYZ TPHCM</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="line-black"></div>
		<div class="c-container">
			<div class="c-footer-about">
				<div class="about-col-1">
					<div class="about-info">
						<p>Địa chỉ: Phòng 1104, Tầng 11, Tòa nhà T, Công Viên Phần Mềm
							Quang Trung, Quận 12, Thành phố Hồ Chí Minh, Việt Nam.</p>
					</div>
				</div>
				<div class="about-col-2">
					<div class="about-item">
						<div class="item-sub">
							<p>Tên TK: CT CP StudyHard</p>
						</div>
					</div>
					<div class="about-item">
						<div class="item-sub">
							<p>Số TK: 123-456-7890</p>
						</div>
					</div>
					<div class="about-item w50">
						<div class="item-sub">
							<p>Ngân hàng StudyHard - CN HCM</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="line-white"></div>
		<div class="c-container">
			<div class="c-footer-about">
				<div class="about-col-1">
					<div class="about-info">
						<a class="logo-goverment" href="#"> <img alt="" th:src="@{/img/bocongthuong.png}">
						</a>
					</div>
				</div>
				<div class="about-col-2 d-flex align-items-center">
					<div class="about-item">
						<div class="item-sub">
							<p>Phương Thức Thanh Toán</p>
						</div>
					</div>
					<div class="about-item">
						<div class="payment">
							<img alt="" th:src="@{/img/zalopay.png}"> <img alt="" th:src="@{/img/vnpay.png}"> <img
								alt="" th:src="@{/img/visa.png}"> <img alt="" th:src="@{/img/momo.png}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>