@charset "UTF-8";

body{
	background: #fff;
	line-height: 1.5;
}
a{
	text-decoration: none;
	color: black;
}

.carrent-layout{
	position: relative;
	width: 100%;
	height: 100%;
}

--------------------------------------------
.c-header{
	width: 100%;
	background: #fff;
}
.c-container{
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
}

.c-header .c-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;	
}
.header-logo{
	width: 150px;
	height: 100px;
}
.header-logo img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.header-menu{
	display: flex;
	align-items: center;
	grid-gap: 12px;
}

.header-menu a{
	font-size: .8rem;
	font-weight: 600;
	padding: 8px 8px;
}

.vertical-line{
	border-right: 1px solid #d8dae5;
	height: 24px; 	
}
.btn-login{
	border: 1px solid #000;
}

.notification{
	position: relative;
	cursor: pointer;
	padding: 8px;
}

.profile{
	display: flex;
	align-items: center;
	grid-gap: 12px;
	cursor: pointer;
	padding: 0;
}

.profile-avatar{
	position: relative;	
	width: 40px;
	height: 40px;
}

.profile-avatar img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

--------------------------------------------
/* Car-Item */
.car-background{
	background: #f6f6f6;
	padding-top: 80px;
    padding-bottom: 80px;
}

.car-background h1{
	text-align: center;
	margin-bottom: 30px;
	font-weight: 600;
	font-size: 3rem;
}

.car-item{
	display: flex;
	padding: 16px;
	border-radius: 12px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	cursor: pointer;
}

.car-item-box{
	display: flex;
	flex-direction: column;
	width: 100%;
	grid-gap: 32px;
	border-radius: 12px;
}

.car-item-img{
	position: relative;
}

.car-img{
	position: relative;
	max-width: 100%;	
	border-radius: 10px;
	padding-bottom: 75%;
	overflow: hidden;
}

.car-img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.car-note{
	position: absolute;
	font-size: .7rem;
	font-weight: 300px;
	top: 8px;
	left: 8px;
	display: flex;
	flex-direction:  column;
	grid-gap: 8px;
}

.c-note{
	color: #fff;
	display: flex;
	align-items: center;
	grid-gap: 5px;
	padding: 4px 8px;
	border-radius: 100px;
	background: rgba(12,12,12,.5);
}

.car-avatar{
	position: absolute;
    left: 16px;
    bottom: -12px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
}
.car-avatar img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100%;
}

.car-discount{
	position: absolute;
	right: 16px;
	bottom: -12px;
	font-size: .7rem;
    font-weight: 500;	
	padding: 4px 8px;
    color: #fff;
    border-radius: 100px;
	background-color: #f26a2b;
}

.car-item-detail{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.c-detail-type{
	display: flex;
	flex-wrap: wrap;
}
.type-item{
	color: #262626;
	font-size: .7rem;
    font-weight: 500;
    margin: 0 8px 8px 0;
	padding: 4px 8px;
    border-radius: 100px;
	background: #eef7ff;		
}
.type-item-1{
	color: #262626;
	font-size: .7rem;
    font-weight: 500;
    margin: 0 8px 8px 0;
	padding: 4px 8px;
    border-radius: 100px;
	background: #dff5e7;		
}


.c-detail-name{
	display: flex;
    align-items: center;
    grid-gap: 5px;
    margin-bottom: 4px;
}
.c-detail-name p{
	margin: 0;
	color: #000;
    font-size: 1.5rem;
    font-weight: 500;
}

.c-detail-address{
	display: flex;
    align-items: center;
    grid-gap: 5px;
    margin-bottom: 4px;
}
.c-detail-address p{
	margin: 0;
	color: #000;
    font-size: .8rem;
    font-weight: 400;
}

.c-detail-line{
	margin: 12px 0;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}

.c-detail-price{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.price-info{
	display: flex;
    align-items: center;
    color: #767676;
    font-size: .8rem;
    font-weight: 500;
    line-height: 16px;
    grid-gap: 4px;
}
.price-warp{
	display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: .8rem;
    line-height: 16px;
}
.price-origin{
	font-size: .8rem;
    font-weight: 500;
    text-decoration: line-through;
    color: #c6c6c6;
}
.price-special{
	font-size: 1.2rem;
    font-weight: 700;
    margin: 0 4px;
    color: #5fcf86;
}