
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
</head>
<body class="container">
	<div class="mt-5 mb-5 d-flex justify-content-evenly">
    <div>
        <a class="btn btn-primary" th:href="@{/car/login}">Về đăng nhập</a>
    </div>
    <div>
        <a class="btn btn-success" th:href="@{/car/index}">Về trang chủ</a>
    </div>
    <div>
        <a class="btn btn-warning" th:href="@{/car/index}">Về trang chủ</a>
    </div>
</div>
</body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</html>
