<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/50eedbacb3.js"
	crossorigin="anonymous"></script>


</head>
<body>
	<div class="container-fluid"
		style="max-width: 1600px; max-height: 800px">
		<div class="row" style="height: 786px">
			<div class="col-lg-2" style="background: #289d8c">
				<div th:include="/common/menuadmin"></div>
			</div>


			<div class="col-sm-10 pe-0 ps-0">
				


				<div class="row justify-content-center m-0">
					<h1 class="text-center mt-3 mb-3" style="color: #289d8c">Danh
						Sách Xe</h1>

					<!-- drop sort -->
					<div class="dropdown mb-2">
						<button class="btn btn-secondary dropdown-toggle" type="button"
							id="dropdownMenuButton1" data-bs-toggle="dropdown"
							aria-expanded="false">Sắp Xếp</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item"
								th:href="@{/car/sort(field='giaThue')}">Theo Giá</a></li>
							<li><a class="dropdown-item"
								th:href="@{/car/sort(field='trangThai')}">Theo Trạng Thái</a></li>
							<li><a class="dropdown-item"
								th:href="@{/car/sort(field='hangXe')}">Theo Hãng</a></li>
						</ul>
					</div>

					<div style="height: 600px; overflow-y: scroll;">
						<table class="table table-bordered text-center">
							<thead>
								<tr>
									<th scope="col">Biển Số</th>
									<th scope="col">Tên xe</th>
									<th scope="col">Hãng xe</th>
									<th scope="col">Tên Loại</th>
									<th scope="col">Giá thuê</th>
									<th scope="col">Số chỗ</th>
									<th scope="col">Ngày Đăng Kiểm</th>
									<th scope="col">Truyền động</th>
									<th scope="col">Nhiên Liệu</th>
									<th scope="col">Nhiêu liệu tiêu hao</th>
									<th scope="col">Tiện Nghi</th>
									<!--<th scope="col">Địa điểm</th>-->
									<th scope="col">Trạng thái hoạt động</th>
									<th scope="col"><i class="fa-solid fa-gear"></i></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${lscar}">
									<td >[[*{item.bienSo}]]</td>
									<td >[[*{item.tenXe}]]</td>
									<td >[[*{item.hangXe.tenHang}]]</td>
									<td >[[*{item.loaiXe.tenLoai}]]</td>
									<td >[[*{item.giaThue}]]</td>
									<td >[[*{item.soCho}]]</td>
									<td >[[*{item.ngayDangKiem}]]</td>
									<td >[[*{item.truyenDong}]]</td>
									<td >[[*{item.nhienLieu}]]</td>
									<td >[[*{item.nlTieuHao}]] lit/100km</td>
									<td >[[*{item.tienNghi}]]</td>
								
									<td
										th:text="${item.trangThai ? 'Đang cho thuê' : 'Còn Trống'}"></td>
									<td><a
										th:href="@{/car/edit/{bienSo}(bienSo=${item.bienSo})}"
										class="text-decoration-none"><i class="fa-solid fa-pencil"></i></a></td>
								</tr>
							</tbody>
						</table>

						

					</div>


				</div>

			</div>


		</div>
	</div>



</body>
</html>