

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://kit.fontawesome.com/50eedbacb3.js"
	crossorigin="anonymous"></script>
</head>


<body>
	<div class="container-fluid"
		style="max-width: 1600px; max-height: 800px">
		<div class="row" style="height: 786px">
			<div class="col-lg-2" style="background: #289d8c">
				<th:block th:replace="common/menuadmin :: menu"></th:block>
			</div>
			<div class="col-sm-10 pe-0 ps-0">
				<th:block th:replace="common/nav :: nav"></th:block>
				<div class="row justify-content-center m-0">
					<h1 class="text-center mt-3 mb-3" style="color: #289d8c">Danh
						Sách Hợp Đồng Chưa Xác Nhận (Unconfirmed Contracts)</h1>
					<div style="height: 600px; overflow-y: scroll;">
						<table class="table table-bordered text-center">
							<thead>
								<tr>
									<th scope="col">Tên xe (Car Name)</th>
									<th scope="col">Biển số (Plate Number)</th>
									<th scope="col">Tên khách hàng (Customer Name)</th>
									<th scope="col">Số điện thoại (Phone Number)</th>
									<th scope="col">Ngày tạo (Created Date)</th>
									<th scope="col">Giá thuê/ngày (Daily Rate)</th>
									<th scope="col">Ngày bắt đầu (Start Date)</th>
									<th scope="col">Ngày kết thúc (End Date)</th>
									<th scope="col">Thành tiền (Total Price)</th>
									<th scope="col"><i class="fa-solid fa-gear"></i></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="contract : ${listContract}">
									<td><span th:text="${contract.xe.tenXe}"></span></td>
									<td><span th:text="${contract.xe.bienSo}"></span></td>
									<td><span
										th:text="${contract.khachHang.tenKH} ${contract.khachHang.hoKH}"></span></td>
									<td><span th:text="${contract.khachHang.soDienThoai}"></span></td>
									<td><span th:text="${contract.ngayTao}"></span></td>
									<td id="giaThue"><span th:text="${contract.giaThue}"></span></td>
									<td><span th:text="${contract.ngayBatDau}"></span></td>
									<td><span th:text="${contract.ngayKetThuc}"></span></td>
									<td id="tongTien"><span th:text="${contract.tongTien}"></span></td>
									<td><a
										href="/contract/view-contract?id=${contract.maHopDong}"
										class="text-decoration-none"><i class="fa-solid fa-pencil"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Format giá thuê/ngày và thành tiền
        var giaThueElements = document.querySelectorAll("#giaThue");
        var tongTienElements = document.querySelectorAll("#tongTien");

        var formatter = new Intl.NumberFormat("vi-VN", {
            style: "currency",
            currency: "VND"
        });

        giaThueElements.forEach(function(element) {
            var giaThue = parseFloat(element.textContent);
            element.textContent = formatter.format(giaThue); // Chuyển đổi thành nghìn đồng
        });

        tongTienElements.forEach(function(element) {
            var tongTien = parseFloat(element.textContent);
            element.textContent = formatter.format(tongTien);
        });
    });
</script>
</html>