
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/50eedbacb3.js"
	crossorigin="anonymous"></script>
</head>

<body>
	<div class="container-fluid"
		style="max-width: 1600px; max-height: 800px">
		<div class="row" style="height: 786px">
			<div class="col-lg-2" style="background: #289d8c">
				<th:block th:replace="common/menuadmin :: menu"></th:block>
			</div>



			<div class="col-sm-10 pe-0 mt-5">
				<%-- <%@include file = "/common/nav.jsp" %> --%>


				<form th:action="@{/car/giaoxe/add}" method="post"
					modelAttribute="giaoxemodel">
					<div class="row">
						<div class="col-sm-2">
							<h3>Hợp Đồng: ${hd.maHopDong}</h3>
							<input type="hidden" class="form-control" name="id"
								value="${hd.maHopDong}">
						</div>
					</div>

					<h2 class="text-center">Biên Bản Bàn Giao Xe</h2>
					<div class="row mt-2 mb-3">
						<div class="col-sm-6">
							<div class="mb-3">
								<label class="form-label">Đầu xe</label> <input type="file"
									class="form-control" name="imgDauXe" />
							</div>
							<div class="mb-3">
								<label class="form-label">Sườn trái</label> <input type="file"
									class="form-control" name="imgSuonTXe" />
							</div>
							<div class="mb-3">
								<label class="form-label">Sườn phải</label> <input type="file"
									class="form-control" name="imgSuonPXe" />
							</div>
							<div class="mb-4">
								<label class="form-label">Đuôi xe</label> <input type="file"
									class="form-control" name="imgDuoiXe" />
							</div>

							<div class="mt-4">
								<label class="form-label" for="tinhTrang">Tình Trạng Xe</label>
								<textarea class="form-control" id="tinhTrang"
									th:field="${tinhTrang}" rows="5"></textarea>
								<div class="form-error"
									th:classappend="${errorMessageT == null ? 'd-lg-none' : ''}">
									<span class="error-item1"> <i class="fa-solid fa-xmark"
										style="color: #e91c1c;"></i> <span th:text="${errorMessageT}"></span>
									</span>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="row">
								<div class="mb-3">
									<label class="form-label" for="ngayGiaoXe">Ngày Giao Xe</label>
									<input type="text" class="form-control" id="ngayGiaoXe"
										th:field="${ngayGiaoXe}" value="2023/09/15" />
									<div class="form-error"
										th:classappend="${errorMessageD == null ? 'd-lg-none' : ''}">
										<span class="error-item1">
											<p>
												<i class="fa-solid fa-xmark" style="color: #e91c1c;"></i> <span
													th:text="${errorMessageD}"></span>
											</p>
										</span>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="mb-3">
										<label class="form-label" for="ngoaiThat">Ngoại Thất</label>
										<textarea class="form-control" id="ngoaiThat"
											th:field="${ngoaiThat}" rows="3"></textarea>
										<div class="form-error"
											th:classappend="${errorMessageNN == null ? 'd-lg-none' : ''}">
											<span class="error-item1">
												<p>
													<i class="fa-solid fa-xmark" style="color: #e91c1c;"></i> <span
														th:text="${errorMessageNN}"></span>
												</p>
											</span>
										</div>
									</div>
								</div>


								<div class="col-sm-6">
									<div class="mb-3">
										<label class="form-label" for="noiThat">Nội Thất</label>
										<textarea class="form-control" id="noiThat"
											th:field="${noiThat}" rows="3"></textarea>
										<div class="form-error"
											th:classappend="${errorMessageNT == null ? 'd-lg-none' : ''}">
											<span class="error-item1">
												<p>
													<i class="fa-solid fa-xmark" style="color: #e91c1c;"></i> <span
														th:text="${errorMessageNT}"></span>
												</p>
											</span>
										</div>
									</div>
								</div>


							</div>
							<!-- hang xe -->
							<div class="row">
								<div class="col-sm-6">
									<div class="mb-3">
										<label class="form-label" for="dongCo">Động Cơ</label>
										<textarea class="form-control" id="dongCo"
											th:field="${dongCo}" rows="3"></textarea>
										<div class="form-error"
											th:classappend="${errorMessageDC == null ? 'd-lg-none' : ''}">
											<span class="error-item1">
												<p>
													<i class="fa-solid fa-xmark" style="color: #e91c1c;"></i> <span
														th:text="${errorMessageDC}"></span>
												</p>
											</span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="mb-3">
										<label class="form-label" for="giayToXe">Giấy Tờ Xe</label>
										<textarea class="form-control" id="giayToXe"
											th:field="${giayToXe}" rows="3"></textarea>
										<div class="form-error"
											th:classappend="${errorMessageG == null ? 'd-lg-none' : ''}">
											<span class="error-item1">
												<p>
													<i class="fa-solid fa-xmark" style="color: #e91c1c;"></i> <span
														th:text="${errorMessageG}"></span>
												</p>
											</span>
										</div>
									</div>
								</div>
							</div>

							<!-- Ngay dang kiem -->

							<div class="mb-3">
								<label class="form-label" for="noiDung">Nội Dung</label>
								<!--  <input type="text" class="form-control" name="poster" > -->
								<textarea class="form-control" id="noiDung"
									th:field="${noiDung}" rows="7"></textarea>
								<div class="form-error"
									th:classappend="${errorMessageND == null ? 'd-lg-none' : ''}">
									<span class="error-item1">
										<p>
											<i class="fa-solid fa-xmark" style="color: #e91c1c;"></i> <span
												th:text="${errorMessageND}"></span>
										</p>
									</span>
								</div>
							</div>

							<%--
							<div class="mb-3">
								<label class="form-label">Trạng Thái Hoạt Động</label> <br>
								<div class="form-check">
									<!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate"> -->
									<input class="form-check-input" type="checkbox" id="trangThai"
										th:checked="${trangThai}" /> <label class="form-check-label"
										for="trangThai"> Đang Cho Thuê </label>
								</div>
							</div>
							--%>
						</div>
					</div>

					<hr>
					<div class="row mb-3 mt-3" style="padding-top: 60px;">
						<div class="form-error"
							th:classappend="${errorMessageHD == null ? 'd-lg-none' : ''}">
							<span class="error-item1">
								<p>
									<i class="fa-solid fa-xmark" style="color: #e91c1c;"></i> <span
										th:text="${errorMessageHD}"></span>
								</p>
							</span>
						</div>
						<div class="d-flex justify-content-center">
							<button class="btn btn-success" style="font-size: 26px;">CẬP
								NHẬT</button>
						</div>
					</div>
					
				</form>

			</div>


		</div>
	</div>
</body>
</html>